{{#if loggedIn}}
  <div class="admin-square">
    <h5>Silly "Admin" Manfred</h5>

    <form action="/update" method="post">
      <h5>Stora texten på headern</h5>
      <input type="text" placeholder="Stor" name="big" value="{{bigText}}" class="header input-login">
      <br>
      <h5>Lilla texten på headern</h5>
      <input type="text" placeholder="Liten" value="{{smallText}}" name="small" class="tiny-text input-login">
      <h5>Gul Text, vart?</h5>
      <input type="text" placeholder="TitlePart" value="{{titlePart}}" name="titlePart" class="title-part input-login">
      <button class="submit-button">Change</button>
    </form>

    <form action="/logout" method="post">
      <button class="submit-button">Logout</button>
    </form>
  </div>
{{/if}}
