<header style="background-image: url({{header}})">
  <div class="overlay">
  </div>
  <div class="text-hero">
    <h1 class="mont-regular" data-titlePart="{{titlePart}}">{{bigText}}</h1>
    <h5 class="hind-regular">{{smallText}}</h5>
  </div>
  <div class="triangle-connector"></div>
</header>
