<header style="background-image: url({{header}})">
  <div class="overlay">
  </div>
  <div class="text-hero">
    <h1 class="mont-regular">Hello, I am <span class="mont-bold yellow">Manfred</span></h1>
    <h5 class="hind-regular">Welcome to my creative corner</h5>
  </div>
  <div class="triangle-connector"></div>
</header>
