<h3 class="manfred-tag">
</h3>
<nav class="nav-bar mont-regular">
  <ul>
    <li>
      <a href=".top">
        HOME
      </a>
    </li>
    <li>
      <a href=".info-anchor">
        ABOUT
      </a>
    </li>
    <li>
      <a href=".portfolio-anchor">
        PORTFOLIO
      </a>
    </li>
  </ul>
</nav>
