<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#242F49" />
  {{> meta}}
  <link rel="stylesheet" href="./css/sassy.css">
  <!-- Oscar Nordquist -->
  <title>Manfred Ohlsson</title>
</head>
<body class="top">

  {{> nav}}

  {{> admin}}

  {{> header}}


  {{{body}}}

  <script src="./javascript/nowBrowserified.js"></script>
  {{#if loggedIn}}
  <script src="./javascript/admin.js"></script>
  {{/if}}
</body>
</html>
