<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#242F49" />
  <link rel="stylesheet" href="./css/sassy.css">
  <!-- <link rel="stylesheet" media="(max-width: 800px)" href="./css/max-800.css"> -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"> -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Hind:400,600" rel="stylesheet" type="text/css"> -->
  <title>Manfred Ohlsson</title>
</head>
<body class="top">


  {{> nav}}

  {{> admin}}

  {{> header}}


  {{{body}}}

  <script src="./javascript/nowBrowserified.js"></script>
  {{#if loggedIn}}
  <script src="./javascript/admin.js"></script>
  {{/if}}
</body>
</html>
