<div class="login-overlay">
<h1>Login</h1>
<form action="/login" method="post">
  <input type="text" class="input-login" placeholder="Username" name="username" required>
  <input type="text" class="input-login" placeholder="Password" name="password" required>
  <button class="submit-button">Login</button>
</form>
</div>
