@media only screen and (max-width: 800px) {
  .text-hero .mont-regular span h1 {
      font-size: 8.5vw;
  }

  .text-hero h5 {
      font-size: 3.5vw;
  }

  .row {
    display: inline;
  }

  .nav-bar {
    display: none;
  }

  .hamburger-container {
    display: inline;
    width: 55px;
    height: 50px;
    background-color:rgba(0, 0, 0, 0.74902);
    right: 20px;
    top: 20px;
    left: inherit;
    border-radius: 2px;
  }

  .hamburger-container svg {
    cursor: pointer;
    width: 100%;
    height: 100%;
  }

  .hamburger svg {
    width: 55px;
    position: absolute;
    height: 50px;
    right: 20px;
    cursor: pointer;
    top: 20px;
  }

  a:hover {
    color: #FFFFFF;
  }

  li {
    display: block;
    font-size: 11vw;
    padding: 25px;
  }

  ul {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

}
