@media only screen and (max-width: 800px) {
  .text-hero .mont-regular span h1 {
      font-size: 8.5vw;
  }

  .text-hero h5 {
      font-size: 3.5vw;
  }

  .row {
    display: inline;
  }

  .nav-bar {
    display: none;
  }

  .hamburger-container {
    display: inline;
    width:75px;
    height: 75px;
    background-color:red;
    right: 0;
  }

}
