@import url(https://fonts.googleapis.com/css?family=Hind:400,600);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: sans-serif; }

iframe {
  width: 100%;
  height: 100%; }

.social-svg {
  width: 50px;
  height: 50px;
  margin: 20px;
  fill: #FFFFFF;
  cursor: pointer;
  transition: all 250ms; }

.social-svg:hover {
  transition: all 100ms;
  fill: #FFE13F; }

.row {
  width: 100%;
  background-color: black;
  display: flex;
  position: relative; }

.video-container {
  flex: 1 1 auto;
  width: 100%;
  height: 350px; }

.video-thumbnail {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 1;
  position: relative; }

nav {
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: padding 500ms, background-color 500ms; }

.footer {
  width: 100%;
  height: auto;
  padding: 50px;
  background-color: #242F49;
  text-align: center; }

.credit {
  text-decoration: underline; }

h8 {
  font-size: 0.85vw; }

h7 {
  color: #ffe13f;
  position: relative;
  top: 35%;
  font-size: 1vw;
  transform: translateY(-50%); }

li {
  text-decoration: none;
  list-style: none;
  display: inline-block; }

header {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%; }

.overlay {
  width: 100%;
  height: 100vh;
  background-color: #242F49;
  opacity: 0.25;
  position: absolute;
  top: 0;
  left: 0; }

.hamburger-container {
  display: none; }

nav a {
  margin: 0 30px;
  text-decoration: none;
  font-size: 25px;
  transition: all 0.2s; }

a:hover {
  color: #FFE13F; }

.mont-regular {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: -2px; }

.mont-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: -2px; }

.hind-regular {
  font-family: "Hind", sans-serif;
  font-weight: 400; }

.hind-regular {
  font-family: "Hind", sans-serif;
  font-weight: 600; }

.yellow {
  color: #FFE13F; }

.info-anchor {
  position: relative;
  top: 5px; }

.portfolio-anchor {
  position: relative;
  top: 5px; }

.text-hero {
  background-color: transparent;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center; }

.manfred-info {
  position: relative;
  width: 100%;
  background-color: #242F49;
  padding: 30px 0;
  text-align: center; }

.manfred-profile {
  width: 200px;
  height: 200px;
  background-size: cover;
  border-radius: 100%;
  margin: 0 auto;
  position: relative; }

.info-container {
  width: 50%;
  margin: 0 auto;
  padding: 5px 0; }

.triangle-connector {
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 150px solid #242f49;
  position: absolute;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%); }

.flex {
  display: flex;
  flex-flow: row wrap;
  background-color: black; }

.play {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 35%;
  height: 35%;
  cursor: pointer;
  transition: all 250ms; }

.play:hover {
  width: 40%;
  height: 40%; }

.hamburger {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.74902);
  height: 0px;
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  transition: all 250ms; }

.expand {
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0; }

.login-overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: #242F49;
  width: 100vw;
  height: 100vh; }

.input-login {
  color: black; }

.admin-square {
  color: black;
  width: 25%;
  height: 50%;
  background-color: #242F49;
  position: fixed;
  outline: 9px solid white;
  text-align: center;
  z-index: 2000; }

.radio-placement {
  display: inline; }

.radio-container {
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.2); }

.text-hero .mont-regular span h1 {
  font-size: 4.5vw;
  display: inline;
  margin: 0.5vw; }

.text-hero h5 {
  font-size: 2vw; }

@media only screen and (max-width: 800px) {
  .text-hero .mont-regular span h1 {
    font-size: 6.5vw; }
  .text-hero h5 {
    font-size: 3.5vw; }
  .row {
    display: inline; }
  .nav-bar {
    display: none; }
  .hamburger-container {
    display: inline;
    width: 55px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.74902);
    right: 20px;
    top: 20px;
    left: inherit;
    border-radius: 2px; }
  .info-container {
    width: 85%; }
  .hamburger-container svg {
    cursor: pointer;
    width: 100%;
    height: 100%; }
  .hamburger svg {
    width: 55px;
    position: absolute;
    height: 50px;
    right: 20px;
    cursor: pointer;
    top: 20px; }
  a:hover {
    color: #FFFFFF; }
  nav a {
    font-size: inherit; }
  li {
    display: block;
    font-size: 3em;
    padding: 12px; }
  ul {
    position: relative;
    top: 50%;
    transform: translateY(-50%); } }
